body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Baloo', cursive;

}
canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

.wrapper{
    box-sizing: border-box;
    padding: 10%;
    width: 100%;
    height: 100%;
    background-image: url("../img/screens/idle/background.jpg");
    background-size: cover;
    text-align: center;

}

.wrapper .title{
    font-family: 'Barrio', cursive;
    font-size: 4rem;
    color: #964653;
}

.wrapper .description{
    color: gray;
    font-size: 1.5rem;
    margin-top: 30px;
}
.wrapper .btn{
    margin-top: 50px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #F3465E;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.btn:hover {
    background-color: #F34643;
}

.btn:active {
    background-color: #F34643;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.hud{
    visibility: hidden;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    text-shadow: 0 2px #fff;
}

.hud .score{
    position: absolute;
    top: 30px;
    right: 5%;
    font-size: 2rem;
}

.hud .score .value{
    color: #F3465E;
}

.hud .lives{
    color: #F3465E;
    position: absolute;
    top: 30px;
    left: 3%;
    font-size: 2rem;
}

.hud .sound{
    cursor: pointer;
    color: #F3465E;
    position: absolute;
    top: 90vh;
    left: 3%;
    font-size: 3rem;
    pointer-events: auto;

}

.hud .sound.fa-volume-off{

    color: gray;

}


/* Dialog */

.dialog {
    visibility: hidden;
    z-index: 9999;
    position: absolute;
    padding: 20px;
    top: 30%;
    right: 5%;
    width: 30%;
    pointer-events: none;
}

.dialog .question {
    font-size: 1.5rem;
    margin-bottom: 20px;
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #65a7d8;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.dialog .option{
    margin-top: 20px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #F3465E;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.message {
    z-index: 9999;
    position: absolute;
    top: 30%;
    left: 5%;
    width: 30%;
    pointer-events: none;

    font-size: 1.5rem;
    margin-bottom: 20px;
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.message.wrong{
    background-color: #ff6035;
}

.message.right{
    background-color: #18ff61;
}

.cloud-wrapper{
    position: absolute;
    top: 5%;
    transform: translateX(150%);
    font-family: Barrio, cursive;
    font-size: 3rem;
    z-index: 9999;
    text-align: center;
}
#cloud {
    width: 350px; height: 120px;
    opacity: 0.7;
    background: #f2f9fe;
    background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);

    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    position: relative;
    display: table-cell;
    vertical-align: middle;

}

#cloud:after, #cloud:before {
    content: '';
    position: absolute;
    background: #f2f9fe;
    z-index: -1
}

#cloud:after {
    width: 100px; height: 100px;
    top: -50px; left: 50px;

    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

#cloud:before {
    width: 180px; height: 180px;
    top: -90px; right: 50px;

    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
}

