body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Baloo', cursive;

}
canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

.wrapper{
    box-sizing: border-box;
    padding: 10%;
    width: 100%;
    height: 100%;
    background-image: url("../img/screens/idle/background.jpg");
    background-size: cover;
    text-align: center;

}

.wrapper .title{
    font-family: 'Barrio', cursive;
    font-size: 4rem;
    color: #964653;
}

.wrapper .description{
    color: gray;
    font-size: 1.5rem;
    margin-top: 30px;
}
.wrapper .btn{
    margin-top: 50px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #F3465E;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.btn:hover {
    background-color: #F34643;
}

.btn:active {
    background-color: #F34643;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.hud{
    visibility: hidden;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.hud .score{
    position: absolute;
    top: 30px;
    right: 5%;
    font-size: 2rem;
}

.hud .score .value{
    color: #F3465E;
}

.hud .lives{
    color: #F3465E;
    position: absolute;
    top: 30px;
    left: 3%;
    font-size: 2rem;
}


/* Dialog */

.dialog {
    visibility: hidden;
    z-index: 9999;
    position: absolute;
    padding: 20px;
    top: 30%;
    right: 5%;
    width: 30%;
    pointer-events: none;
}

.dialog .question {
    font-size: 1.5rem;
    margin-bottom: 20px;
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #65a7d8;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.dialog .option{
    margin-top: 20px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #F3465E;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

